<mat-nav-list>
  <h3 matSubheader>项目</h3>
  <mat-list-item matLine><mat-icon matListIcon>folder</mat-icon>项目首页</mat-list-item>

  <h3 matSubheader>日历</h3>
  <mat-list-item matLine> <mat-icon matListIcon>calendar_today</mat-icon>日历首页 </mat-list-item>
  <mat-list-item> <mat-icon matListIcon>calendar_today</mat-icon>月视图 </mat-list-item>
  <mat-list-item> <mat-icon matListIcon>calendar_today</mat-icon>周视图 </mat-list-item>
  <mat-list-item> <mat-icon matListIcon>calendar_view_day</mat-icon>日视图 </mat-list-item>
</mat-nav-list>
