<div class="log-box">
  <mat-card>
    <mat-card-title> 注册 Task Pad </mat-card-title>
    <mat-card-content>
      <form class="login-form">

        <mat-form-field class="full-width">
          <input matInput placeholder="邮箱">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="用户名">
        </mat-form-field>
 
        <mat-form-field class="full-width">
          <input matInput placeholder="密码">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="确认密码">
        </mat-form-field>

        <button mat-raised-button>注 册</button>

      </form>
    </mat-card-content>
    <mat-card-actions>
      已有账号？<a routerLink="/login">登陆</a>
    </mat-card-actions>
  </mat-card>
</div>
