<ng-container>
  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav #sidenav mode="push" class="mat-sidenav"
                 [fixedInViewport]="true">
      Sidenav
    </mat-sidenav>

    <mat-sidenav-content class="site">
      <header>
        <app-header (toggle)="sidenav.toggle()"></app-header>
      </header>

      <section class="main">
        <router-outlet></router-outlet>
      </section>

      <footer>
        <app-footer></app-footer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
