<div class="log-box">
  <mat-card>
    <mat-card-title> 登陆 Task Pad </mat-card-title>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="账号">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="密码">
        </mat-form-field>

        <button mat-raised-button>登 陆</button>

      </form>
    </mat-card-content>
    <mat-card-actions>
      还没有账号？<a href="http://" target="_blank" rel="noopener noreferrer">注册</a><br>
      忘记密码？<a href="http://" target="_blank" rel="noopener noreferrer">找回</a>
    </mat-card-actions>
  </mat-card>
</div>
